<h1>Create Game</h1>

<form action="/Games/create" method="post">
  <div class="form-group">
    <label for="team_A">Home team</label>
    <input class="form-control" type="text" id="team_A" name="team_A" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="team_B">Away Team</label>
    <input class="form-control" type="text" id="team_B" name="team_B" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="logoTeam_A">Home team logo URL</label>
    <input class="form-control" type="text" id="logoTeam_A" name="logoTeam_A" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="logoTeam_B">Away Team logo URL</label>
    <input class="form-control" type="text" id="logoTeam_B" name="logoTeam_B" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input class="form-control" type="date" id="date" name="date" placeholder="All date formats">
  </div>

  <div class="form-group">
    <label for="stadium">Stadium</label>
    <input class="form-control" type="text" id="stadium" name="stadium" placeholder="Stadium name">
  </div>

  <div class="form-group">
    <label for="league">League</label>
    <input class="form-control" type="text" id="league" name="league" placeholder="Ex: Ligue 1, Liga, Serie A etc." required>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Create your game
    </button>
  </div>
</form>
